<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{- meta.siteName -}}</title>
    <meta name="description" content="{{- meta.siteDescription -}}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="color-scheme" content="light dark" />
    <meta property="og:image" content="{{- meta.url -}}/og-image.jpg" />
    <link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
    <style>
      :root {
      	--color: {{ meta.color }};
      }
    </style>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to content</a>
    <header class="wrapper repel">
      <div class="cluster | color-picker" style="--gutter: var(--space-2xs)">
        <input type="color" id="color-picker" name="color-picker" value="#e66465" />
        <label for="color-picker" style="font-size: var(--size-step-min-1)"
          >Change color</label
        >
      </div>

      <nav aria-label="primary">
        <ul
          role="list"
          class="cluster"
          style="--gutter: var(--space-3xs) var(--space-xs)"
        >
          {%- for item in collections.sections -%} {% if loop.first %}
          <!-- empty -->
          {% else %}

          <li>
            <a
              class="button"
              href="#{{ item.fileSlug }}"
              >{{ item.fileSlug | replace("-", " ") }}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
    </header>

    <main tabindex="-1" id="main">
      {%- for item in collections.sections -%} {% if loop.index0 % 2 == 0 %}
      <div class="section">
        <article id="{{ item.fileSlug }}" class="region wrapper flow">
          {{- item.templateContent | safe -}}
        </article>
      </div>
      {% else %}
      <article id="{{ item.fileSlug }}" class="region wrapper flow">
        {{- item.templateContent | safe -}}
      </article>
      {% endif %} {% endfor %}
    </main>

    <footer class="wrapper repel">
      <div
        role="region"
        class="cluster"
        style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
      >
        <label><input name="color-scheme" type="radio" value="light" />light</label>
        <label><input name="color-scheme" type="radio" value="dark" />dark</label>
      </div>

      <div class="flow">
        <nav aria-label="secondary navigation">
          <ul role="list" class="cluster">
            <li>
              <a href="https://www.lenesaile.com/en/">Blog post</a>
            </li>
            <li>
              <a href="https://github.com/madrilene/eleventy-minimal">View source</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
